.navbar {
  background-color: #2c64b2;
}
.navbar .container-fluid {
  padding-left: 0;
}
.navbar .navbar-brand {
  border-right: solid 1px #fff;
  width: 4%;
}
.navbar .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar .user-info .avatar-box {
  border-left: solid 1px #fff;
  padding-left: 10px;
}
.navbar .user-info .avatar-box .avatar {
  width: 20%;
  position: relative;
  top: 5px;
}
.navbar .user-info .notif-box {
  color: #fff;
  border-left: solid 1px #fff;
}
.navbar .user-info .notif-box .fa-bell {
  font-size: 18px;
  position: relative;
  top: 10px;
}
.navbar .user-info .search-box {
  color: #fff;
}
.navbar .user-info .search-box .fa-search {
  font-size: 18px;
  position: relative;
  top: 10px;
}

.navbar-bottom-mobile {
  display: none;
}

.navbar-bottom {
  background-color: #fff;
  border-bottom: solid 1px black;
}
.navbar-bottom .nav-item .nav-link:hover {
  color: #2c64b2 !important;
  transition: all 0.5s;
  letter-spacing: 0.3px;
}
.navbar-bottom .nav-link {
  color: #000;
}
.navbar-bottom .navbar-nav .nav-link.active,
.navbar-bottom .navbar-nav .show > .nav-link {
  color: #000;
}

.bread-crumb {
  --bs-breadcrumb-divider: ">";
  margin: 20px 0 0 17px;
}
.bread-crumb i {
  color: #2c64b2;
}
.bread-crumb .breadcrumb-item a {
  text-decoration: none;
  color: #2c64b2;
}

.page-title {
  margin: 30px 0 0 16px;
}

.table {
  --bs-table-striped-bg: $color-white;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ECECEC;
  color: #2c64b2;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fff;
}
.table-bordered > thead:not(caption) > * {
  border-width: 1px;
  border-bottom: solid 2px #E5E5E5;
}

.borderless td,
.borderless th {
  border: none;
}

.bootstrap-table .fixed-table-container .table thead th .sortable {
  color: #293368;
}

.gMzYpg {
  padding: 4px 0 4px 24px !important;
}

.left-nav {
  width: 4%;
  background-color: #000;
  position: relative;
}
.left-nav .main-icons {
  position: relative;
  top: 220px;
  height: 200px;
  color: #EEEEEE;
  position: fixed;
  width: inherit;
  top: 50%;
}
.left-nav .main-filter {
  cursor: pointer;
  transition: all 0.2s;
}
.left-nav .main-filter:hover {
  color: #2c64b2;
}
.left-nav .main-filter i {
  font-size: 20px;
}

.filter .modal-header {
  background-color: #2c64b2;
  border-radius: 0;
  color: #fff;
}
.filter .modal-body {
  padding: 0 !important;
}
.filter .select-datepicker-style i {
  padding-top: 9px;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}

ul.ks-cboxtags li {
  display: inline;
}

ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type=checkbox]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type=checkbox]:checked + label {
  border: 2px solid #EEEEEE;
  background-color: #2c64b2;
  color: #F3F3F3;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type=checkbox] {
  display: absolute;
}

ul.ks-cboxtags li input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type=checkbox]:focus + label {
  border: 2px solid #EEEEEE;
}

.new-check-checkbox {
  list-style-type: none;
}
.new-check-checkbox label {
  cursor: pointer;
}
.new-check-checkbox .checkbox {
  position: relative;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}
.new-check-checkbox .checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.new-check-checkbox .checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.5rem;
  border-color: #2c64b2;
  border-top-style: none;
  border-right-style: none;
}
.new-check-checkbox .checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar .navbar-brand {
    border-right: none;
    width: 20%;
  }
  .navbar [type=button]:not(:disabled),
  .navbar [type=reset]:not(:disabled),
  .navbar [type=submit]:not(:disabled),
  .navbar button:not(:disabled) {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -55px;
    z-index: 2;
    background-color: #fff;
  }
  .navbar-bottom {
    z-index: 2;
    padding-left: 15px;
    font-weight: bold;
  }
  .navbar-bottom li {
    border-bottom: solid 1px #EEEEEE;
  }
  .left-nav {
    width: 9%;
    background-color: #000;
    position: relative;
    display: none;
  }
  .left-nav .main-icons {
    position: relative;
    top: 220px;
    height: 200px;
    color: #EEEEEE;
    position: fixed;
    width: inherit;
    top: 50%;
  }
  .left-nav .main-filter {
    cursor: pointer;
    transition: all 0.2s;
  }
  .left-nav .main-filter:hover {
    color: #2c64b2;
  }
  .left-nav .main-filter i {
    font-size: 20px;
  }
  .navbar-bottom-mobile {
    margin-top: 150px;
    display: block;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F3F3F3;
    border-top: solid 0.1rem #b3b3b3;
  }
  .navbar-bottom-mobile .main-icons {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }
  .navbar-bottom-mobile .main-icons .main-filter {
    width: 30px;
    margin-top: 0 !important;
  }
  .navbar-bottom-mobile .main-icons .main-filter i {
    font-size: 21px;
  }
  .main-table-result {
    margin-bottom: 50px;
  }
  .navbar-toggler-icon {
    width: 1.1em;
    height: 1.1em;
  }
}/*# sourceMappingURL=style.css.map */