$color-white: #fff;
$color-white-2: #F3F3F3;
$color-main: #2c64b2;
$color-border-gray:#EEEEEE;

.navbar {
    background-color: $color-main;

    .container-fluid {
        padding-left: 0;
    }

    .navbar-brand {
        border-right: solid 1px $color-white;
        width: 4%;
    }

    .nav-link {
        color: $color-white;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: $color-white;
    }

    .user-info {


        .avatar-box {
            border-left: solid 1px $color-white;
            padding-left: 10px;

            .avatar {
                width: 20%;
                position: relative;
                top: 5px;
            }
        }

        .notif-box {
            color: $color-white;
            border-left: solid 1px $color-white;

            .fa-bell {
                font-size: 18px;
                position: relative;
                top: 10px;
            }
        }

        .search-box {
            color: $color-white;

            .fa-search {
                font-size: 18px;
                position: relative;
                top: 10px;
            }
        }

    }
}

.navbar-bottom-mobile {
    display: none;
}


.navbar-bottom {
    background-color: $color-white;
    border-bottom: solid 1px black;

    .nav-item .nav-link:hover {
        color: $color-main !important;
        transition: all 0.5s;
        letter-spacing: 0.3px;
    }

    .nav-link {
        color: #000;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: #000;
    }
}

.bread-crumb {
    --bs-breadcrumb-divider: '>';
    margin: 20px 0 0 17px;

    i {
        color: $color-main;
    }

    .breadcrumb-item a {
        text-decoration: none;
        color: $color-main;
    }
}

.page-title {
    margin: 30px 0 0 16px;
}

// Start Resullts (Table)
.table {
    --bs-table-striped-bg: $color-white;

    &-striped>tbody>tr:nth-child(odd)>td,
    &-striped>tbody>tr:nth-child(odd)>th {
        background-color: #ECECEC;
        color: $color-main;
    }

    &-striped>tbody>tr:nth-child(even)>td,
    &-striped>tbody>tr:nth-child(even)>th {
        background-color: $color-white;
    }

    &-bordered>thead:not(caption)>* {
        border-width: 1px;
        border-bottom: solid 2px #E5E5E5;
    }
}

.borderless td,
.borderless th {
    border: none;
}

.bootstrap-table .fixed-table-container .table thead th .sortable {
    color: #293368;
}

.gMzYpg {
    padding: 4px 0 4px 24px !important;
}

// End Resullts (Table)


.left-nav {
    // flex: 0 0 auto;
    width: 4%;
    // border-right: solid 1px $color-border-gray;
    background-color: #000;
    position: relative;

    .main-icons {
        position: relative;
        top: 220px;
        height: 200px;
        color: $color-border-gray;
        position: fixed;
        width: inherit;
        top: 50%;
    }

    .main-filter {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            color: $color-main;
        }

        i {
            font-size: 20px;
        }
    }
}


.filter {

    .modal-header {
        background-color: $color-main;
        border-radius: 0;
        color: $color-white;
    }

    .modal-body {
        padding: 0 !important;
    }

    .select-datepicker-style {

        i {
            padding-top: 9px;
        }
    }
}


// Start New CheckBox for Kategorien
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid $color-border-gray;
    background-color: $color-main;
    color: $color-white-2;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid $color-border-gray;
}

// End New CheckBox for Kategorien

// Start New CheckBox for Objeckt
.new-check-checkbox {
    list-style-type: none;

    label {
        cursor: pointer;
    }

    .checkbox {
        position: relative;
        margin: 1rem 1rem 0 0;
        cursor: pointer;
    }

    .checkbox:before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        border: 2px solid #f2f2f2;
    }

    .checkbox:checked:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: .5rem;
        border-color: $color-main;
        border-top-style: none;
        border-right-style: none;
    }

    .checkbox:after {
        content: "";
        position: absolute;
        top: -0.125rem;
        left: 0;
        width: 1.1rem;
        height: 1.1rem;
        background: #fff;
        cursor: pointer;
    }
}

// End New CheckBox for Objeckt



// Mobile Version
@media only screen and (max-width: 600px) {
    .navbar {

        .navbar-brand {
            border-right: none;
            width: 20%;
        }


        [type=button]:not(:disabled),
        [type=reset]:not(:disabled),
        [type=submit]:not(:disabled),
        button:not(:disabled) {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: -55px;
            z-index: 2;
            background-color: $color-white;
        }


    }

    .navbar-bottom {
        z-index: 2;
        padding-left: 15px;
        font-weight: bold;

        li {
            border-bottom: solid 1px $color-border-gray;
        }
    }

    .left-nav {
        width: 9%;
        background-color: #000;
        position: relative;
        display: none;

        .main-icons {
            position: relative;
            top: 220px;
            height: 200px;
            color: $color-border-gray;
            position: fixed;
            width: inherit;
            top: 50%;
        }

        .main-filter {
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: $color-main;
            }

            i {
                font-size: 20px;
            }
        }
    }

    .navbar-bottom-mobile {
        margin-top: 150px;
        display: block;
        height: 40px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $color-white-2;
        border-top: solid 0.1rem #b3b3b3;

        .main-icons {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

            .main-filter {
                width: 30px;
                margin-top: 0 !important;

                i {
                    font-size: 21px;
                }
            }
        }
    }

    .main-table-result {
        margin-bottom: 50px;
    }

    .navbar-toggler-icon {
        width: 1.1em;
        height: 1.1em;
    }
}